name: 'Terraform and Release'
on:
  push:
  pull_request:
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master

      - name: 'Terraform Format'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.20
          tf_actions_subcommand: 'fmt'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Terraform Init'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.20
          tf_actions_subcommand: 'init'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Inject provider configs for validate command'
        run: |
            cat > providers.tf <<EOF
            provider "aws" {
              region = "us-east-2"
            }

            provider "datadog" {
              api_key = ""
              app_key = ""
            }
            EOF
      - name: 'Terraform Validate'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.20
          tf_actions_subcommand: 'validate'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  release:
   if: github.event_name == 'push'
   needs: terraform
   runs-on: ubuntu-latest

   steps:
   - uses: actions/checkout@v2
   - name: Semantic Release
     id: semantic
     uses: cycjimmy/semantic-release-action@v2
     env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
     with:
       semantic_version: 17
       extra_plugins: |
         @semantic-release/changelog
         @semantic-release/git
